*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgb(211, 211, 211);
    height: 80px;
}
.container video{
   
width: 100vw; 
/* height: 30px; */

}

img{
    width: 135px;
    padding: 12px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

 a{
    margin-top: -15%;
     text-decoration: none; 
}
.head h1{
    margin: 3%;
    text-align: center;
    font-weight: normal;
}
.head img{
    margin-left: -9px;
   width: 100vw;
}
.parent .trend{
    display: flex;
    flex-direction: column;
}
.trend h1 ,h4,h2 {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    font-weight: 100;
    padding: 10px;
}
.trend h2{
    display: flex;
}
.trend h4{
    margin-top: 2%;
}
.trend h1 {
    /* font-weight: 100;
    padding: 10px; */
    word-spacing: 10px;
    letter-spacing: 5px;
    text-decoration: underline;
}